.courses-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding: 20px;

    h2{
        font-weight: 650;
    }

    span{
        color: mediumslateblue;
    }
}
